#!/bin/bash

if [ ! -f "$HOME/.config/dotfiles/scripts/global.sh" ]; then
    echo "Could not load global.sh, you've done something very bad."
    echo "Try rerunning 'chezmoi update'"
    exit 1
fi

source "$HOME/.config/dotfiles/scripts/global.sh"

if [ $(id -u) = 0 ]; then
  echo "${error_box}Please don't run this script as sudo, it will ask for permission by itself"
  exit 1
fi

skip_installation=$(check_value "skip_script")
if [ "$skip_installation" == "true" ]; then
    echo "${error_box}Skipping script (if you don't expect this behaviour, edit your config file in ~/.config/scripts/config.json)$reset"
    exit 1
fi

packages=$(return_value "category" "${output_config_file}")
if [ "$packages" = "minimal" ]; then
    echo "${info_box}Minimal setup"
    cp "${app_list_dir}minimal.yaml" "${app_install_file}"
elif [ "$packages" = "base" ]; then
    echo "${info_box}Base setup"
    cp "${app_list_dir}base.yaml" "${app_install_file}"
elif [ "$packages" = "full" ]; then
    echo "${info_box}Full setup"
    cp "${app_list_dir}full.yaml" "${app_install_file}"
else
    echo "${error_box}No valid setup"
    echo "${error_box}Edit ${output_config_file} or run setup script."
fi

# install aur helper for arch
# setup scripts add function for detecting distro and saving it into config file
# think about how to manage packages lists to install on different distros

{{ if eq .chezmoi.os "linux" -}}
  echo "${info_box}󰌽 Linux detected"
  echo "${info_box}Installation of applications"
  {{ if eq .chezmoi.osRelease.id "arch" -}}
    echo "${blue}󰣇 Arch$reset detected"
    
    echo $(check_value "blackarch_repo" "${output_config_file}")
    sleep 2
    if [[ $(check_value "blackarch_repo" "${output_config_file}") == "true" ]]; then
      echo "$green[*]$blue Updating repositories$reset"
      sudo pacman -Syu
      echo "$green[*]$blue Adding blackarch repositories$reset"
      curl -O https://blackarch.org/strap.sh 
      echo 3f121404fd02216a053f7394b8dab67f105228e3 strap.sh | sha1sum -c 
      chmod +x strap.sh
      sudo ./strap.sh
      sudo pacman -Syy
    fi

    {{ range .packages.linux -}}
     sudo pacman -S --noconfirm --needed {{ . | quote }}
    {{ end -}}
    
    echo $(check_value "scripts_after" "${output_config_file}")
    if [[ $(check_value "scripts_after" "${output_config_file}") != "null" ]]; then
      scripts=$(return_value "scripts_after")
      echo "${scripts_after})"
    fi

  {{ else if eq .chezmoi.osRelease.id "fedora" }}
    echo "Fedora detected"
  {{ end -}}
{{ end -}}
